# Database
DATABASE_URL="postgresql://postgres:13032004@localhost:5432/venture_travel_db"

# JWT
JWT_SECRET="vonhatphuongahihihoctaptaiUITvalamviectaiNAVER"
JWT_EXPIRES_IN="7d"

# Server
PORT=3001
NODE_ENV="development"

# CORS
CORS_ORIGIN="http://localhost:8081,http://localhost:8082"

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=vonhatphuongahihi@gmail.com
SMTP_PASS=kjzb ndvn qjxo fahv
SMTP_FROM="Venture <vonhatphuongahihi@gmail.com>"

FRONTEND_URL=http://localhost:8081

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Google OAuth
GOOGLE_CLIENT_ID="your google client id"
GOOGLE_CLIENT_SECRET="your google client secret"
GOOGLE_CALLBACK_URL="http://localhost:3001/api/auth/google/callback"
