@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset nhẹ + style toàn cục */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #F8FDFF;
  color: #0A0A0A;
}
